body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #E41233;
}
p{
    color: #000000;
    text-align: justify;
}
label{
    color: #8A8A8A;
}
h2, h3, h4, h5, h6{
    font-family: 'Lato', sans-serif;
}
.logo{
    height: 73px;
    margin-top: 58px;
}
.navbar-default .navbar-brand{
    font-size: 20px;
    color: #000000 !important;
    font-weight: 700;
}
.navbar-default .navbar-nav>li>a{
    font-size: 20px;
    color: #000000 !important;
    font-weight: 700;
}
.imagem-logo img{
    width: 220px;
}
.retirar-fundo{
    background-color: transparent !important;
    border-color: transparent !important;
    margin-bottom: 0 !important;
}
a{
    color: #FFFFFF;
    text-decoration: none !important;
}
a:focus, a:hover{
    color: #E41233;
}
.panel-default>.panel-heading {
    color: #000;
    background-color: #D4D4D4;
    border-color: #000;
}
.collapse.in {
    background-color: rgb(241, 241, 241);
}
.seta-slide{
    color: #FFFFFF;
}
.cabecalho{
    background-color: #000000;
    color: #FFFFFF;
    padding: 14px 0px;
    display: inline-block;
}
.copyright{
    background-color: #000000;
    text-align: center;
}
.copyright small{
    color: #FFFFFF;
}
.lista-links li{
    list-style: none;
}
.social-media{
    font-size: 33px;
    text-align: right;
    margin-top: -42px;
}
.icone-facebook{
    color: #45619E;
}
.icone-twitter{
    color: #1DA1F2;
}
.icone-soundcloud{
    color: #FF5500;
}
.icone-itunes{
    color: #CCCBCB;
}
.coluna-links{
    text-align: right;
}
.coluna-links ul{
    margin-top: 20px !important;
}
audio{
    width: 100%;
    float: left;
}
.banner-principal{
    background: url(../img/headphone2.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    background-size: cover;
    //background: url(../img/headphone.jpg) no-repeat;
    height: 950px;
}
.titulo{
    /*font-family: 'Rock Salt', cursive;*/
    color: #E41233;
}
.walkman{
    text-align: right;
    display: inline-block;
}
.walkman h3{
    font-size: 24px;
    margin: 0;
}
.player-html{
    float: right;
    width: 90%;
}
.menu ul{
    color: #000000;
    background: transparent;
}
.sobre{
    background-color: #FFFFFF;
    padding: 50px;
}
.titulo-sobre{
    text-align: center;
    border-color: #D4D4D4;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 2px;
    margin-bottom: 20px;
}
.titulo-sobre h3{
    font-weight: 700;
}
.parceiros{
    background-color: #FFFFFF;
    padding: 50px;
}
.titulo-parceiros{
    text-align: center;
    border-color: #D4D4D4;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 2px;
    margin-bottom: 20px;
}
.titulo-parceiros h3{
    font-weight: 700;
}
.seja-um-parceiro{
    background-color: #FFFFFF;
    padding: 50px;
}
.titulo-seja-um-parceiro{
    text-align: center;
    border-color: #D4D4D4;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 2px;
    margin-bottom: 20px;
}
.titulo-seja-um-parceiro h3{
    font-weight: 700;
}
.programacao{
    background-color: #FFFFFF;
    padding: 50px;
}
.titulo-programacao{
    text-align: center;
    border-color: #D4D4D4;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 2px;
    margin-bottom: 20px;
}
.titulo-programacao h3{
    font-weight: 700;
}
.titulo-ladoa{
    text-align: center;
}
.titulo-ladoa h4{
    font-weight: 400;
}
.titulo-ladob{
    text-align: center;
}
.titulo-ladob h4{
    font-weight: 400;
}
.podcast{
    background-color: #FFFFFF;
    padding: 50px;
}
.titulo-podcast{
    text-align: center;
    border-color: #D4D4D4;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 2px;
    margin-bottom: 20px;
}
.titulo-podcast h3{
    font-weight: 700;
}
.localizacao{
    background-color: #FFFFFF;
    padding: 50px;
}
.titulo-localizacao{
    text-align: center;
    border-color: #D4D4D4;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 2px;
    margin-bottom: 20px;
}
.titulo-localizacao h3{
    font-weight: 700;
}
.contato{
    background-color: #FFFFFF;
    padding: 50px;
}
.titulo-contato{
    text-align: center;
    border-color: #D4D4D4;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 2px;
    margin-bottom: 20px;
}
.titulo-contato h3{
    font-weight: 700;
}
.rodape{
    background-color: #000000;
    color: #FFFFFF !important;
}
.frase-musical{
    text-align: center;
    vertical-align: center;
    margin-top: 55px;
}
.imagem-parceiro{
    width: 251px;
    height: 222px;
}
.imagem-parceiro img {
    width: 251px;
    height: 222px;
}
.titulo-chamada{
    text-align: center;
    margin-top: 470px;
}
.banner-principal .seta-baixo {
    display: table;
    margin: 30px auto;
    cursor: pointer;   
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -ms-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all .2s ease-out;
}
.banner-principal .seta-baixo:hover {
    margin-top: 25px;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -ms-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all .2s ease-out;
}
.banner-principal .seta-baixo i {
    font-size: 40px;
    color: #000;
}