body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 22px;
}
p{
    text-align: justify;
}
h2, h3, h4, h5, h6{
    font-family: 'Lato', sans-serif;
}
.logo{
    margin-top: 58px;
}
.imagem-logo img{
    width: 220px;
}
.retirar-fundo{
    background-color: transparent !important;
    border-color: transparent !important;
    margin-bottom: 0 !important;
}
a{
    color: #FFFFFF;
    text-decoration: none !important;
}
.seta-slide{
    color: #FFFFFF;
}
.cabecalho{
    background-color: #000000;
    color: #FFFFFF;
    padding: 14px 0px;
    display: inline-block;
}
.copyright{
    background-color: #000000;
    text-align: center;
}
.copyright small{
    color: #2EB5B0;
}
.lista-links li{
    list-style: none;
}
.social-media{
    font-size: 25px;
    text-align: right;
    margin-top: -45px;
}
.icone-facebook{
    color: #45619E;
}
.icone-twitter{
    color: #1DA1F2;
}
.icone-soundcloud{
    color: #FF5500;
}
.icone-itunes{
    color: #CCCBCB;
}
.coluna-links{
    text-align: right;
}
.coluna-links ul{
    margin-top: 20px !important;
}
audio{
    width: 100%;
    float: left;
}
.banner-principal{
    background: url(../img/fundo.jpg) no-repeat;
    height: 954px;
}
.titulo{
    font-family: 'Rock Salt', cursive;
    color: #000000;
}
.walkman{
    text-align: right;
    display: inline-block;
}
.walkman h3{
    font-size: 24px;
    margin: 0;
}
.player-html{
    float: right;
    width: 90%;
}
.menu ul{
    color: #000000;
    background: transparent;
}
.sobre{
    background-color: #FFFFFF;
    padding: 50px;
}
.titulo-sobre{
    text-align: center;
    border-color: #D4D4D4;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 2px;
    margin-bottom: 20px;
}
.titulo-sobre h3{
    font-weight: 700;
}
.parceiros{
    background-color: #FFFFFF;
    padding: 50px;
}
.titulo-parceiros{
    text-align: center;
    border-color: #537F87;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 2px;
    margin-bottom: 20px;
}
.titulo-parceiros h3{
    font-weight: 700;
}
.seja-um-parceiro{
    background-color: #FFFFFF;
    padding: 50px;
}
.titulo-seja-um-parceiro{
    text-align: center;
    border-color: #BC6575;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 2px;
    margin-bottom: 20px;
}
.titulo-seja-um-parceiro h3{
    font-weight: 700;
}
.programacao{
    background-color: #FFFFFF;
    padding: 50px;
}
.titulo-programacao{
    text-align: center;
    border-color: #172544;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 2px;
    margin-bottom: 20px;
}
.titulo-programacao h3{
    font-weight: 700;
}
.titulo-ladoa{
    text-align: center;
}
.titulo-ladoa h4{
    font-weight: 400;
}
.titulo-ladob{
    text-align: center;
}
.titulo-ladob h4{
    font-weight: 400;
}
.podcast{
    background-color: #FFFFFF;
    padding: 50px;
}
.titulo-podcast{
    text-align: center;
    border-color: #C59609;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 2px;
    margin-bottom: 20px;
}
.titulo-podcast h3{
    font-weight: 700;
}
.localizacao{
    background-color: #FFFFFF;
    padding: 50px;
}
.titulo-localizacao{
    text-align: center;
    border-color: #676D69;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 2px;
    margin-bottom: 20px;
}
.titulo-localizacao h3{
    font-weight: 700;
}
.contato{
    background-color: #FFFFFF;
    padding: 50px;
}
.titulo-contato{
    text-align: center;
    border-color: #1E4253;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 2px;
    margin-bottom: 20px;
}
.titulo-contato h3{
    font-weight: 700;
}
.rodape{
    background-color: #000000;
    color: #FFFFFF !important;
}
.frase-musical{
    text-align: center;
    vertical-align: center;
    margin-top: 55px;
}